   body {
      font-family: sans-serif;
      padding: 2rem;
      background: #F0F0F0;
    }
    .container {
      background: white;
      padding: 0.5rem 1.5rem;
      border-radius: 8px;
      max-width: 400px;
      margin: auto;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
    label, select, input {
      display: block;
      margin-top: 1rem;
      width: 100%;
      height: 5vh;
    }
    button {
      margin-top: 1.5rem;
      padding: 0.75rem;
      background: #3A86FF;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    #result {
      margin-top: 1.5rem;
      font-weight: bold;
    }

  nav{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(95, 135, 158);
    border-radius: 50px;
    height: 10px;
    }
    
    a{
      text-decoration: none;
      color: white;
      text-emphasis-style: bold;
    }






    
